
@keyframes hide {
  /* from { opacity: 1 }
  to   { opacity: 0 } */
  to {
        width:0;
        height:0;
        overflow:hidden;
    }
 
 
}

.hideMe {
  animation: hide 0s ease-in 5s forwards;;

}

.botaoAtivoSim {
   content: url(/icons/check-3x.png);
   color: green;
}

.botaoAtivoNao {
    content: url(/icons/x-3x.png);
}


