@
keyframes hide {
	/* from { opacity: 1 }
  to   { opacity: 0 } */ to { width:0;
	height: 0;
	overflow: hidden;
	display: none;
}

}
.alertPosition {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 999999;
	width: 280px;
	margin-left: -10px;
	max-height: 120px;
}

.alertStyle {
	width: 250px;
	padding: 10px;
	display: block;
	margin: 10px;
	text-align: left;
	border-radius: 5px;
	min-height: 40px;
	margin: 10px;
}

.alerta-erro {
	background-color: #e53935;
	border: 1px solid #c62828;
}

.alerta-sucesso {
	background-color: #1e88e5;;
}

/* 	position: absolute;
	top: 40px;
	height: auto;
	list-style-type: none;
	text-align: center;
	padding-top: 20px;
	right: 0px;
	z-index: 999999;
	width: auto;
	left: 70%;
	
	margin-right: 10px;
} */
.hideMe {
	animation: hide 0s ease-in 5s forwards;;
}

.botaoAtivoSim {
	content: url(../icons/check-3x.png);
	color: green;
}

.botaoAtivoNao {
	content: url(/icons/x-3x.png);
}

.containerPanel { "
	margin: 20px;
	background: #F9F9F9";
}

.containerPanelTitulo {
	padding: 5px;
	padding-left: 20px;
	background: #F5F5F5;
}